:root {
    font-size: 62.5%;
}
body {
    /* background-color: #cd966c; */
    overflow: hidden;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



header {
    position: relative;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
}
header .title {
    font-size: 7rem;
    font-weight: 900;
    font-family: "Tangerine";
    color: #66280a;
    opacity: .6;
    letter-spacing: 2px;
}
header p {
    position: absolute;
    left: 2rem;
    bottom: 0;
    color: #D7D7D7;
    opacity: .5;
    font-family: "Tangerine";
    font-size: 3rem;
    font-weight: 700;
}
section {
    width: 100vw;
    height: 52rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Livros {
    display: flex;
    gap: 3rem;
}
.livro {
    display: flex;
    flex-direction: column;
}
.livro img {
    box-shadow: 10px 5px 20px #A47D49;
    height: 35rem;
    border-radius: 10px;
    filter: blur(.6px);
}
.livro a {
    text-align: center;
    margin-top: 2rem;
    font-family: "Indie Flower";
    font-size: 2.5rem;
    color: #2E3D40;
    background-color: #D7D7D7;
    padding: 4px 8px;
    border-radius: 2rem;
}
.livro img:hover {
    filter: opacity(.8);
}
.livro a:hover {
    filter: invert(1);
}